#RewriteEngine On
#
#RewriteRule ^index$ index.php?page=index&%{QUERY_STRING}
#RewriteRule ^users$ index.php?page=users&%{QUERY_STRING}
#RewriteRule ^advertisements$ index.php?page=advertisements&%{QUERY_STRING}
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule index index.php
#RewriteRule users view/users.php
#RewriteRule advertisements view/advertisements.php

#
#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^.]+)$ $1.php [NC,L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.php [NC,L]
RewriteCond %{DOCUMENT_ROOT}/$1.php -f

RewriteRule (.+) /view/$1 [L]
RewriteRule ^([^.]+)$ $1.php [NC,L]
#RewriteRule ^([^.]+)$ $1.php [L]




